.socialDesk{
  border: 1px soild #a8d1e3;
}
/* #editUserName{
  position: absolute;
  top: -1px;
  left: 50px;
}
#folowUser{
  position: absolute;
  top: -1px;
  left: 100px;
} */
.editProfile{
  display: none;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(10, 10, 10, 0.8);
}
.editProfile input {
  margin: 5px 0 5px 0;
}
.boxForm{
  border: 3px solid black;
  padding: 10px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: rgba(70, 70, 70, 0.9);
}
.messages{
  padding: 20px;
  max-width: 800px;
  border: 1px solid black;
}
.messageBox{
padding: 5px;
border: 1px solid black;
}
.folowUser{
  display: none;
}
